@font-face {
    font-family: 'SVN-Abril Fatface';
    src: url('SVN-AbrilFatface.woff2') format('woff2'),
        url('SVN-AbrilFatface.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

