.ft
    .ft-wave
        +img('ft-wave.svg')
    .ft-dc
        +img('ft-dc.png')
    .ft-car
        +img('ft-car.svg')
    .container  
        .ft-row.row 
            .ft-col.col
                a.custom-logo-link(href="")
                    +img('logo.png') 
                .re-setting
                    p.title Cài Đặt Công Cụ
                    .re-setting-list
                        a.re-setting-btn.coccoc(href="")
                            +img('re-setting-1.png')
                            span.text Cốc cốc
                        a.re-setting-btn(href="")
                            +img('re-setting-2.png')
                            span.text Google Chrome
            .ft-col.col
                p.ft-title Thông Tin Liên Hệ
                .ft-ad
                    .ft-ad-wr
                        p.ft-ad-title Khu vực miền bắc
                        .ft-ad-list 
                            .ft-ad-item 
                                p Địa chỉ: 66 Dịch Vọng Hậu, P.Dịch Vọng, Cầu Giấy, Hà Nội
                            .ft-ad-item 
                                .ft-ad-action Điện thoại 
                                    a(href="") 0961 700 894                             
                            .ft-ad-item 
                                .ft-ad-action Email: 
                                    a(href="") cskh.nhaphangtrung@gmail.com 
                    .ft-ad-wr
                        p.ft-ad-title Khu vực miền nam
                        .ft-ad-list 
                            .ft-ad-item 
                                p Địa chỉ: Khu phố 3, Phường Thới An, Quận 12.
                            .ft-ad-item 
                                .ft-ad-action Điện thoại 
                                    a(href="") 0961 700 894
                            .ft-ad-item 
                                .ft-ad-action Email: 
                                    a(href="") cskh.nhaphangtrung@gmail.com 
                .ft-author
                    span.text Thiết kế bởi
                    +img('ft-author.svg')
            .ft-col.col
                p.ft-title Về Chúng Tôi
                .ft-menu    
                    ul.menu-list 
                        li.menu-item.current-menu-item 
                            a.menu-link(href="") Giới thiệu
                        li.menu-item 
                            a.menu-link(href="") Bảng giá
                        li.menu-item 
                            a.menu-link(href="") Hướng dẫn
                        li.menu-item 
                            a.menu-link(href="") Chính sách
                        li.menu-item 
                            a.menu-link(href="") Tin tức
            .ft-col.col
                p.ft-title Về Chúng Tôi
                .ft-menu    
                    ul.menu-list 
                        li.menu-item 
                            a.menu-link(href="") Nhập hàng Trung Quốc
                        li.menu-item 
                            a.menu-link(href="") Đặt hàng taobao
                        li.menu-item 
                            a.menu-link(href="") Đặt hàng tmall
                        li.menu-item 
                            a.menu-link(href="") Đặt hàng 1688
                        li.menu-item 
                            a.menu-link(href="") Ủy thác nhập khẩu chính ngạch
                .ft-ib
                    .ft-ib-item 
                        .ft-ib-img 
                            +img('ft-ib-img.jpg')
                        .ft-ib-content 
                            p.ft-ib-name TRINH THI THUY ANH
                            .ft-ib-tt 
                                p.text Ngân hàng: MB BANK
                                p.text STK: 191 192 195 
                    .ft-ib-item 
                        .ft-ib-img 
                            +img('ft-ib-img.jpg')
                        .ft-ib-content 
                            p.ft-ib-name TRINH THI THUY ANH
                            .ft-ib-tt 
                                p.text Ngân hàng: TECHCOMBANK
                                p.text STK: 8565 888 998
